---
layout: base-layout.njk
title: Not Goblins!
override:tags: ["race"]
pagination:
  data: collections.nogoblin
  size: 8
  reverse: false
  alias: posts
---
<h1>Das ist nicht das Goblin-Tutorial!</h1>

Goblins sind die besten, yada, yada, yada ...
