---
layout: base-layout.njk
title: Not Goblins!
override:tags: ["race"]
pagination:
  data: collections.nogoblin
  size: 8
  reverse: false
  alias: posts
---
<h1>Das ist nicht das Goblin-Tutorial!</h1>

Goblins sind die besten, yada, yada, yada ...

{% for post in posts %}
  <section>

    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>

    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

    {% excerpt post %}

    <a href="{{ post.url }}">Read more</a>

  </section>
{% endfor %}

