<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eressea Beispielpartie - Not Goblins!</title>

  <link rel="stylesheet" href="/tutorials/css/site.css">
  <link rel="stylesheet" href="/tutorials/css/crs.css">
  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="/tutorials/" class="link--home">Beispielpartie</a>
  <a href=".." class="link--up">Up</a>
</header>
<main>
  <h1>Das ist nicht das Goblin-Tutorial!</h1>

Goblins sind die besten, yada, yada, yada ...


  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_01/">Not Goblins: Runde 1</a>
    </h2>

    <time datetime="2024-03-17T00:00:00.000Z">March 17, 2024</time>

    Some examples to demonstrate the crmap shortcode.

    <a href="/tutorials/template/Auswertung_01/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_02/">Not Goblins: Runde 2</a>
    </h2>

    <time datetime="2024-03-24T00:00:00.000Z">March 24, 2024</time>

    Lore ipsum 2 ...

    <a href="/tutorials/template/Auswertung_02/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_03/">Not Goblins: Runde 3</a>
    </h2>

    <time datetime="2024-03-31T00:00:00.000Z">March 31, 2024</time>

    Lore ipsum 3 ...

    <a href="/tutorials/template/Auswertung_03/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_04/">Not Goblins: Runde 4</a>
    </h2>

    <time datetime="2024-04-07T00:00:00.000Z">April 7, 2024</time>

    Lore ipsum 4 ...

    <a href="/tutorials/template/Auswertung_04/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_05/">Not Goblins: Runde 5</a>
    </h2>

    <time datetime="2024-04-14T00:00:00.000Z">April 14, 2024</time>

    Lore ipsum 5 ...

    <a href="/tutorials/template/Auswertung_05/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_06/">Not Goblins: Runde 6</a>
    </h2>

    <time datetime="2024-04-21T00:00:00.000Z">April 21, 2024</time>

    Lore ipsum 6 ...

    <a href="/tutorials/template/Auswertung_06/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_07/">Not Goblins: Runde 7</a>
    </h2>

    <time datetime="2024-04-28T00:00:00.000Z">April 28, 2024</time>

    Lore ipsum 7 ...

    <a href="/tutorials/template/Auswertung_07/">Read more</a>

  </section>

  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_08/">Not Goblins: Runde 8</a>
    </h2>

    <time datetime="2024-05-05T00:00:00.000Z">May 5, 2024</time>

    Lore ipsum 8 ...

    <a href="/tutorials/template/Auswertung_08/">Read more</a>

  </section>




<nav aria-labelledby="faction-pagination">
  <ol class='navlist'> 
    
    

    <li>1</li> 


    <li><a href="/template/1/">2</a></li>

    <li><a href="/template/1/">&rarr;</a></li>
    
  </ol>
</nav>

</main>
<footer>&copy; Eressea PBEM</footer>
</body>
</html>
