<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eressea Beispielpartie - Not Goblins: Runde 8</title>

  <link rel="stylesheet" href="../../css/site.css">



  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="../../index.html" class="link--home">Beispielpartie</a>
  <a href="../index.html" class="link--up">Up</a>
</header>
<main>
  <article>
  <h1>Not Goblins: Runde 8</h1>
  <author>stm</author>,
  <time datetime="2024-05-05T00:00:00.000Z">5. Mai 2024</time>
  <h1>Runde 8</h1>
<h2>Die Auswertung</h2>
<p>Lore ipsum 8 ...</p>

</article>
<footer>
Tags: nogoblin
</footer>




  
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  

  
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  

  
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
  

  
    
      
    
      
    
      
    
  

  
    
      
    
  

  



  
  
  
  
  
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
      
    
  
    
      
    
    
  
  
    <nav class="post-previous">
      Previous: <a href="../Auswertung_07/index.html">Not Goblins: Runde 7</a>
    
  
  
    
      Next: <a href="../Auswertung_09/index.html">Not Goblins: Runde 9</a>
    </nav>
  


</main>
<footer>&copy; Eressea PBEM</footer>
</body>
</html>
