---
layout: base-layout.njk
title: Eressea Beispielpartie
pagination:
  data: collections.race
  size: 12
  reverse: false
  alias: races
---

<h1>Eressea Tutorial 2024</h1>

<p>Dies sind die Tagebücher der Parteien, die beim Tutorial 2024 mitgespielt haben. Vielen Dank an alle, die ihren
Bericht hier zur Verfügung stellen.</p>

<p>Some of these will be in English, some in German.</p>

{% for post in races %}
  <article>
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>

  </article>
{% else %}
  <p>There is nothing here...</p> 
{% endfor %}
