<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eressea Beispielpartie - {{title}}</title>

  <link rel="stylesheet" href="{{ '/css/site.css' }}">
{% if content.indexOf('crs-requires-css') !== -1 %}
  <link rel="stylesheet" href="{{ '/css/crs.css' }}">
{% endif %}
{% if content.indexOf('crs-requires-js') !== -1 %}
  <script src="{{ '/crs/crs-passthrough.js' }}" defer></script>
{% endif %}

  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="{{ '/' }}" class="link--home">Beispielpartie</a>
  <a href="{{ '..' }}" class="link--up">Up</a>
</header>
<main>
  {{ content | safe }}
  {%- set currentindex = 0 %}
{%- set lastindex = 0 %}
{%- set radius = 1 %}
{%- for pageEntry in pagination.pages %}
{%- if page.url == pagination.hrefs[ loop.index0 ] %}
{%- set currentindex = loop.index0 %}
{%- endif %}
{%- set lastindex = loop.index0 %}
{%- endfor %}

{%- if lastindex > 0 %}

<nav aria-labelledby="faction-pagination">
  <ol class='navlist'> 
    {% if page.url != pagination.href.first and currentindex > 3 %}<li><a href="{{ pagination.href.first }}">1</a></li>{% endif %}
    {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">&larr;</a></li>{% endif %}

{%- for pageEntry in pagination.pages %}
{% if page.url == pagination.hrefs[ loop.index0 ] %}
    <li>{{ loop.index }}</li> 
{% elif currentindex - loop.index0 <= radius and loop.index0 - currentindex <= radius %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>
{% elif currentindex - loop.index0 <= radius + 1 and loop.index0 - currentindex <= radius + 1 %}
  <li>&hellip;</li>
{% endif %}
{%- endfor %}
    {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">&rarr;</a></li>{% endif %}
    {% if page.url != pagination.href.last and currentindex < lastindex - 1 %}<li><a href="{{ pagination.href.last }}">{{lastindex + 1}}</a></li>{% endif %}
  </ol>
</nav>
{% endif %}
</main>
<footer>&copy; Eressea PBEM</footer>
</body>
</html>
