---
layout: base-layout.njk
---
<article>
  <h1>{{ title }}</h1>
  {% if author %}<author>{{author}}</author>,{% else %}<author>N.N.</author>,{% endif %}
  <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  {{ content | safe }}
</article>
<footer>
Tags: {{tags}}
</footer>
