<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eressea Beispielpartie - Not Goblins: Runde 6</title>

  <link rel="stylesheet" href="/tutorials/css/site.css">



  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="/tutorials/" class="link--home">Beispielpartie</a>
  <a href=".." class="link--up">Up</a>
</header>
<main>
  <article>
  <h1>Not Goblins: Runde 6</h1>
  <author>stm</author>,
  <time datetime="2024-04-21T00:00:00.000Z">21. April 2024</time>
  <h1>Runde 6</h1>
<h2>Die Auswertung</h2>
<p>Lore ipsum 6 ...</p>

</article>
<footer>
Tags: nogoblin
</footer>




  
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  

  
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  

  
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
  

  
    
      
    
      
    
      
    
  

  
    
      
    
  

  



  
  
  
  
  
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
       
    
  
    
    
      
    
  
    
      
    
    
  
    
    
  
    
    
  
  
    <nav class="post-previous">
      Previous: <a href="/template/Auswertung_05/">Not Goblins: Runde 5</a>
    
  
  
    
      Next: <a href="/template/Auswertung_07/">Not Goblins: Runde 7</a>
    </nav>
  


</main>
<footer>&copy; Eressea PBEM</footer>
</body>
</html>
