<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eressea Beispielpartie - Not Goblins!</title>

  <link rel="stylesheet" href="/tutorials/css/site.css">



  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="/tutorials/" class="link--home">Beispielpartie</a>
  <a href=".." class="link--up">Up</a>
</header>
<main>
  <h1>Das ist nicht das Goblin-Tutorial!</h1>

Goblins sind die besten, yada, yada, yada ...


  <section>

    <h2>
      <a href="/tutorials/template/Auswertung_09/">Not Goblins: Runde 9</a>
    </h2>

    <time datetime="2024-05-12T00:00:00.000Z">May 12, 2024</time>

    Lore ipsum 9 ...

    <a href="/tutorials/template/Auswertung_09/">Read more</a>

  </section>




<nav aria-labelledby="faction-pagination">
  <ol class='navlist'> 
    
    <li><a href="/template/">&larr;</a></li>

    <li><a href="/template/">1</a></li>


    <li>2</li> 

    
    
  </ol>
</nav>

</main>
<footer>&copy; Eressea PBEM</footer>
</body>
</html>
