<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eressea Beispielpartie - Not Goblins: Runde 2</title>

  <link rel="stylesheet" href="/tutorials/css/site.css">
  <link rel="stylesheet" href="/tutorials/css/crs.css">
  <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet" -->
</head>
<body>
<header>
  <a href="/tutorials/" class="link--home">Beispielpartie</a>
  <a href=".." class="link--up">Up</a>
</header>
<main>
  <script src="/tutorials/crs/crs-passthrough.js" defer=""></script>

<article>
  <h1>Not Goblins: Runde 2</h1>
  <author>stm</author>,
  <time datetime="2024-03-24T00:00:00.000Z">March 24, 2024</time>
  <h1>Runde 2</h1>
<h2>Die Auswertung</h2>
<p>Lore ipsum 2 ...</p>

</article>
<footer>
Tags: nogoblin
</footer>

</main>
<footer>© Eressea PBEM</footer>


</body></html>