---
layout: base-layout.njk
title: Goblins
override:tags: ["race"]
pagination:
  data: collections.goblin
  size: 10
  reverse: false
  alias: posts
---
<h1>Das Goblin-Tutorial</h1>

{% for post in posts %}
  <section>

    <h2>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>

    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

    {% excerpt post %}

    <a href="{{ post.url | url }}">Read more</a>

  </section>
{% endfor %}
